.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #dee2e6;
    width: 320px;
    height: 290px;
    margin: 10px;
    border-radius: 4px;
    text-decoration: none;
    border: 2px solid #6c757d;
}

.container:hover{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.8);
    font-size: 16.2px;
}

.title{
    padding: 16px 0 0 0;
    font-family: 'Comfortaa', cursive;
    color: black;
    text-align: center;
    height: 54px;
}

.description{
    color: black;
    font-family: 'Scada', sans-serif;
    text-align: center;
    padding: 14px;
    display: flex;
    height: 100%;
    align-items: center;
    margin-top: 4px;
}