.container{
    display: none;
    margin-top: 20px;
    /*margin-bottom: 10px;*/
    position: relative;
}

.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    text-align: center;
    font-size: 18px;
    margin: 10px 0 16px 0;
    font-family: 'Neucha', cursive;
    color: #ee46a9;
}

.image{
    border: 4px  solid #ee46a9;
    border-radius: 4px;
}

.btn:hover{
    cursor: pointer;
}

@media (max-width: 800px) {
    .questionBox, .ageQuestionBox, .deathQuestionBox{
        width: 90vw;
    }

    .title{
        font-size: 16px;
    }
}

@media (min-width: 800px) and (max-width: 1400px){
    .questionBox, .ageQuestionBox, .deathQuestionBox{
        width: 70vw;
    }

}